if SHIELD_SOFLE_DONGLE

config ZMK_KEYBOARD_NAME
    default "Sofle Dongle"

config ZMK_SPLIT
    default y

config ZMK_USB
    default y

config ZMK_BLE
    default y

config ZMK_POINTING
    default y

endif
